body {
    background-color: #007acc;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #04395e;
    padding: 10px;
}

.hotel-title {
    font-size: 32px;
    margin: 0;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    display: inline;
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-list a:hover {
    text-decoration: underline;
}

.search-rooms-section {
    padding: 20px;
    background-color: #04395e;
}

.search-rooms-section h2 {
    font-size: 28px;
}

form {
    margin-top: 10px;
}

label, select {
    font-size: 18px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #04395e;
}

input[type="submit"] {
    background-color: #04395e;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.available-rooms-section {
    background-color: #04395e;
    padding: 20px;
}

.available-rooms-section h2 {
    font-size: 28px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #007acc;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
}