* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f7f7;
}

header {
    background-color: #0074A4;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin: 10px 0;
    text-shadow: 1px 1px 1px #000;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

#banner {
    text-align: center;
    padding: 50px 0;
    background-image: url('playa.jpg');
    background-size: cover;
    background-position: center;
}

#banner h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.btn-reserva {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0074A4;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    text-shadow: 1px 1px 1px #000;
}

#habitaciones {
    padding: 40px 0;
    text-align: center;
}

.habitacion {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.habitacion h3 {
    font-size: 24px;
    margin: 10px 0;
    text-shadow: 1px 1px 1px #000;
}

.habitacion p {
    font-size: 16px;
    text-shadow: 1px 1px 1px #000;
}

.habitacion .precio {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}



